<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Desafio bycoders_</title>
    <link rel="stylesheet" href="{% static 'css/desafio.css' %}"/>
</head>
<body>
<span class="header">Desafio bycoders_</span>
<p><p>
<form action="/app/send" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="cnab">Envio de arquivo CNAB: </label>
    <input type="file" required accept=".txt" name="cnab" id="cnab"/>
    <p>
    <input type="submit" value="Enviar"/>
    <p>
    <span>Mensagem: {{ msg }}</span>
</form>
<input type="button" href="/app" value="Atualizar"/>
<p><p>
<hr>
<p><p>
<table id="transactions">
    <tr>
        <th>Loja</th>
        <th>Representante</th>
        <th>Descrição</th>
        <th>Natureza</th>
        <th>Data</th>
        <th>Valor</th>
        <th>CPF</th>
        <th>Cartão</th>
        <th>Hora</th>
    </tr>
    <tr>
        <td>bycoders_</td>
        <td>User1</td>
        <td>Débito</td>
        <td>Entrada</td>
        <td>27/06/2021</td>
        <td>2.435,12</td>
        <td>123.456.789-09</td>
        <td>1111222233334444</td>
        <td>15:00</td>
    </tr>
    <tr>
        <td>bycoders_</td>
        <td>User1</td>
        <td>Débito</td>
        <td>Entrada</td>
        <td>27/06/2021</td>
        <td>2.435,12</td>
        <td>123.456.789-09</td>
        <td>1111222233334444</td>
        <td>15:00</td>
    </tr>
    <tr>
        <td>bycoders_</td>
        <td>User1</td>
        <td>Débito</td>
        <td>Entrada</td>
        <td>27/06/2021</td>
        <td>2.435,12</td>
        <td>123.456.789-09</td>
        <td>1111222233334444</td>
        <td>15:00</td>
    </tr>
    <tr>
        <td>bycoders_</td>
        <td>User1</td>
        <td>Débito</td>
        <td>Entrada</td>
        <td>27/06/2021</td>
        <td>2.435,12</td>
        <td>123.456.789-09</td>
        <td>1111222233334444</td>
        <td>15:00</td>
    </tr>
    <tr>
        <td>bycoders_</td>
        <td>User1</td>
        <td>Débito</td>
        <td>Entrada</td>
        <td>27/06/2021</td>
        <td>2.435,12</td>
        <td>123.456.789-09</td>
        <td>1111222233334444</td>
        <td>15:00</td>
    </tr>
    <tr>
        <td>bycoders_</td>
        <td>User1</td>
        <td>Débito</td>
        <td>Entrada</td>
        <td>27/06/2021</td>
        <td>2.435,12</td>
        <td>123.456.789-09</td>
        <td>1111222233334444</td>
        <td>15:00</td>
    </tr>
</table>
</body>
</html>