<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Desafio bycoders_</title>
    <link rel="stylesheet" href="{% static 'css/desafio.css' %}"/>
</head>
<body>
<span class="header">Desafio bycoders_</span>
<p><p>
<form action="/app/send" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="cnab">Envio de arquivo CNAB: </label>
    <input type="file" required accept=".txt" name="cnab" id="cnab"/>
    <p>
    <input type="submit" value="Enviar"/>
    <p>
    <span>Mensagem: {{ msg }}</span>
    <p>
</form>
<form action="/app" method="GET">
    <input type="submit" value="Atualizar"/>
</form>

<p><p>
<hr>
<p><p>
<table class="transactions">
    <tr>
        <th>Loja</th>
        <th>Representante</th>
        <th>Descrição</th>
        <th>Natureza</th>
        <th>Data</th>
        <th>Valor</th>
        <th>CPF</th>
        <th>Cartão</th>
        <th>Hora</th>
    </tr>
    {% for reg in tabela %}
    <tr>
        <td>{{reg.loja}}</td>
        <td>{{reg.representante}}</td>
        <td>{{reg.descricao}}</td>
        <td>{{reg.natureza}}</td>
        <td>{{reg.data}}</td>
        <td>{{reg.valor}}</td>
        <td>{{reg.cpf}}</td>
        <td>{{reg.cartao}}</td>
        <td>{{reg.hora}}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>